.flex-container {
    display: flex;
    flex-direction: row;
}
  

  .flex-container div {
    background: peachpuff;
    padding: 20px;
    flex: 1 1 auto;
    text-align: left;
    border: solid red;
  }
.links {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex: 1 1 auto;
    text-align: center;
    border: solid red;
}
.flex-column {
    display: flex;
    flex-direction: column;
}